header {
    color : purple;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin : 2%;
}

#form{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
label{
    margin-right: 1%;
}

#resume{
    text-align: center;
}

#display{
    display: flex;
    flex-direction: row;
}

.card{
    display: block;
}