body{
    background-image: url('fond.jpg');
    background-size: 100%;
}
header {
    color :white;
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin : 2%;
}

.card{
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    color :white;
    background-color: rgba(125, 200, 170, 0.929);
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
}

input{
    text-align: center;
}

#tentative{
    border-radius: 35px;
    text-align: center;
    background: white;
    color: black;
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 5%  0  5%;
}