*,header{
    margin: auto;
    text-align: center;
}

table{
    position: absolute;
    top:20%;
    left: 38%;
    border-collapse: collapse;
}


td{
    border : 2px solid black;
    min-width: 50px;
    min-height: 50px;
    padding: 0.5em;
    font-size: 400%;
}

.taken:hover{
    background-color:red;
}

header{
    font-size: 400%;
}

footer{
    position: absolute;
    bottom: 0px;
    left : 50%;
}